/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #34495e;
    margin-bottom: 10px;
    margin-right: 10px;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
}

.section .text {
    flex: 2;
}

.section .photo {
    flex: 1;
    text-align: center;
}

.section .photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ol, ul {
    margin: 10px 0;
    padding-left: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 250px;
}